.zebra-wrapper
  .zebra-stripes
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
    .zebra.upslope
    .zebra.downslope
