.background
  .column
    .zebra-stripes
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
    .zebra-stripes
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
    .zebra-stripes
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
    .zebra-stripes
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
    .zebra-stripes
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope
      .zebra.downslope
      .zebra.upslope