body.zebra {

  .background {
    top: 0;
    bottom: 0;
    background: url(/assets/patterns/subtle_zebra_3d.png);
    left: 0;
    position: fixed;
    right: 0;
  }

  .column {
    width: 121px;
    height: 93%;
    float: left;

    .zebra-stripes {
      width: 132px;
      float: left;
      padding: 0;
      margin: 0 -11px 0 0;

      .zebra {
        float: left;
        width: 62px;
        height: 7px;
        background: red;
        opacity: 0.2;
        margin-bottom: 2px;
        zoom: 1;
        -webkit-transform-origin: 0 100%;
           -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
             -o-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);
           -moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);
                box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);


        &.upslope {
          width: 65px;
          margin: 10px 0 0 -6px;
          background: teal;
					opacity: 0.3;
          -webkit-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
          -moz-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
          -ms-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
          -o-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
          transform: skewX(14deg) skewY(-29deg) rotate(17deg);
        }

        &.downslope {
          width: 68px;
          margin-top: -6px;
          background: teal;
          -webkit-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
          -moz-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
          -ms-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
          -o-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
          transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
        }
      }
    }
  }
}
