body.zebra {
  background: image_url('/assets/patterns/subtle_zebra_3d.png');

  .zebra-wrapper {
    float: left;
    margin: 40px 0 0;
    width: 728px;
  }

  .zebra-stripes {
    width: 132px;
    float: left;
    padding: 60px 0 0;
    margin: 0 -11px 0 0;

    .zebra {
      float: left;
      width: 62px;
      height: 7px;
      background: red;
      opacity: 0.2;
      margin-bottom: 2px;
      zoom: 1;
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;

      &.upslope {
        width: 65px;
        margin-left: -6px;
        -webkit-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
        -moz-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
        -ms-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
        -o-transform: skewX(14deg) skewY(-29deg) rotate(17deg);
        transform: skewX(14deg) skewY(-29deg) rotate(17deg);
      }

      &.downslope {
        width: 68px;
        margin-top: -6px;
        -webkit-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
        -moz-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
        -ms-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
        -o-transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
        transform: skewX(-14deg) skewY(29deg) rotate(-17deg);
      }
    }
  }
}
